.design-card {
  @apply
    m-0
    block
    text-left
    w-full
    relative
    min-h-[480px]
    rounded-[2px]
    overflow-hidden
    cursor-pointer
    transition-all
    duration-1000
    ease-in-out;

  &::before {
    content: "";
    display: none;

    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  &:hover {
    &::before {
      display: block !important;
    }

    .design-card__panel {
      display: flex !important;
    }
  }

  &__body {
    @apply
      px-8;
  }

  &__heading {
    @apply
      mt-6
      mb-3
      text-white
      text-lg
      font-avenir-next;
  }

  &__line {
    @apply
      w-[10%]
      h-[4px]
      bg-[white];
  }

  &__copy {
    @apply
      my-6
      text-[15px]
      text-white;
  }

  &__media  {
    @apply
      w-full
      h-full
      grid
      place-items-center;

    &-container {
      @apply
        w-full
        h-full
        overflow-hidden;

      img {
        @apply
          mt-[-88px]
          w-full
          h-full
          object-contain;
      }
    }    
  }

  &__panel {
    @apply
      hidden
      absolute
      bottom-6
      px-6
      w-full
      justify-between;
  }
}