@font-face {
  font-family: 'Avenir-next';
  src:url("/static/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'Avenir-next-italic';
  src:url("/static/fonts/AvenirNextLTPro-It.otf");
}

@font-face {
  font-family: 'Avenir-next-bold';
  src:url("/static/fonts/AvenirNextLTPro-Bold.otf");
}